<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @grade.score %>
</p>

<p>
  <strong>Date:</strong>
  <%= @grade.date %>
</p>

<p>
  <strong>Assignment name:</strong>
  <%= @grade.assignment_name %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
