<h1>Student Homepage</h1>

<table class="index">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Teacher Id</th>
      <th colspan="20"></th>
    </tr>
  </thead>

  <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td><%= student.email %></td>
          <td><%= student.teacher.name %></td>
          <td><%= link_to 'Show', student %></td>
          <td><%= link_to 'Edit', edit_student_path(student) %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<% if session[:user_type] == "Teacher" %>
  <div class="links">
    <%= link_to "Teacher Home", teachers_path %>
  </div>
<% elsif session[:user_type] == "Student" %>
  <div class="links">
    <%= link_to "Grades", grades_path %>
  </div>
<% elsif session[:user_type] == "Parent" %>
<div class="links">
  <%= link_to "Parent Home", parents_path %>
</div>
<% end %>
