

<h1>Welcome Staff!</h1>
<h5>Teachers at Yolo</h3>
<table class="index">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Teacher Id</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.id %></td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h5> Your Students </h3>
<table class="index">
  <thhead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="10"></th>
    </tr>
  </head>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.email %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h5> Your Grades </h3>
<table class="index">
  <thhead>
    <tr>
      <th>Assignment Name</th>
      <th>Student</th>
      <th>Grade</th>
      <th colspan="10"></th>
    </tr>
  </head>
  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.assignment_name %></td>
        <td><%= grade.student.name %></td>
        <td><%= grade.score %></td>
        <td><%= link_to 'Show', grade %></td>
        <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
        <td><%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<tbody>
<h5> Student's Parents<h5>
  <table class="index">
    <thhead>
      <tr>
        <th>Name</th>
        <th>Student</th>
        <th>Email</th>
        <th colspan="10"></th>
      </tr>
    </head>
    <tbody>
      <% @parents.each do |parent| %>
        <tr>
          <td><%= parent.name %></td>
          <td><%= parent.student.name %></td>
          <td><%= parent.email %></td>
          <td><%= link_to 'Show', parent %></td>
          <td><%= link_to 'Edit', edit_parent_path(parent) %></td>
          <td><%= link_to 'Destroy', parent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
</table>
<div class="container" id="home" >

  <div class="col-md-2  col-sm-1">
    <p>
      <div class="links" >
      <%= link_to 'Teacher', new_teacher_path %>
      </div>
    </p>
  </div>
  <div class="col-md-2  col-sm-1">
    <p>
      <div class="links" >
      <%= link_to 'Parent', new_parent_path %>
      </div>

    </p>
  </div>
  <div class="col-md-2 col-sm-1">
      <p>
        <div class="links" >
        <%= link_to "Student", new_student_path %>
        </div>
      </p>
  </div>

  <div class="col-md-2  col-sm-1">
    <div class="links">
      <%= link_to "Logout", sessions_destroy_path %>
    </div>
  </div>
  </div>
  <div class="col-md-2 col-sm-1">
    <div class="links">
      <%= link_to "Grades", new_grade_path %>
    </div>
  </div>
</div>
