

<h1>Teacher Homepage</h1>

<table class="index">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="20"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.email %></td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="links" >
<%= link_to 'New Teacher', new_teacher_path %>
</div>
<div class="links" >
<%= link_to 'Post Grades', new_grade_path %>
</div>
<div class="links" >
<%= link_to "New Student", new_student_path %>
</div>
<div class="links">
<%= link_to "Log out", teacher_authenticate_logout_path %>
</div>
