

<h1>Parent Page</h1>
  <table class="index">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Student</th>
        <th colspan="10"></th>
      </tr>
    </thead>

    <tbody>
      <% @parents.each do |parent| %>
        <tr>
          <td><%= parent.name %></td>
          <td><%= parent.email %></td>
          <td><%= parent.student.name %></td>
          <td><%= link_to 'Show', parent %></td>
      <% end %>
    </tbody>
  </table>


  <br>

<div class="links">
  <%= link_to "Grades", grades_path %>
</div>
<p></p>

<div class="links">
  <%= link_to 'Log Out', sessions_destroy_path %>
</div>
